android/build.xml
android/libs/*
android/bin/*
android/gen/*
android/assets/*
android/AndroidManifest.xml
android/*.properties
android/*.txt
android/*.keystore
android/res/*
android/src/org/starlo/spyroad/MapKey.java
